services:
  - type: web
    name: student-management-system
    env: docker
    dockerfilePath: ./docker/Dockerfile
    dockerContext: .
    plan: free
    autoDeploy: true
    envVars:
      - key: PORT
        value: 5000
